@model IEnumerable<ThAmCo.Events.EventDTOs.MenuFoodItemsDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>List of Food-Items in @Model.FirstOrDefault().Menu.MenuName </h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FoodItem.Description)
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-outline-primary mx-3" onclick="history.back()">
    Click here to go back
</button>
